<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        @if (Accessoires.length!=0) {
        <thead>
          <tr>
            <th>Index</th>
            <th>Idaccessoire</th>
            <th>Nomaccessoire</th>
            <th>Prixaccessoire</th>
            <th>DateCreation</th>
            <th>Couleur</th>
            <th>Email de l'ajouteur</th>
            <th>Actions</th>
          </tr>
        </thead>
        } @for (accessoire of Accessoires; track accessoire.idaccessoire; let index=$index;let
        nbr=$count;let first=$first;let last=$last) {
        <tbody>
          <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ accessoire.idaccessoire }}</td>
            <td>{{ accessoire.nomaccessoire }}</td>
            <td>{{ accessoire.prixaccessoire }}</td>
            <td>{{ accessoire.dateCreation | date : 'dd/MM/yyyy' }}</td>
            <td>{{accessoire.couleur.nomCoul }}</td>
            <td>{{accessoire.email }}</td>
            <td><a class="btn btn-danger" (click)="supprimerAccessoire(accessoire)">Supprimer</a></td>
            <td>
              <a class="btn btn-success" [routerLink]="['/update-accessoire', accessoire.idaccessoire]"
                >Modifier</a
              >
            </td>
          </tr>
        </tbody>
        @if (last) {
        <h1>Nombre : {{ nbr }}</h1>
        } } @empty {
        <h1>Aucune accessoire touvé</h1>
        }
      </table>
    </div>
  </div>
</div>