<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        @if (accessoires.length != 0) {
        <thead>
          <tr>
            <th>index</th>
            <th>idAccessoire</th>
            <th>nomAccessoire</th>
            <th>prixAccessoire</th>
            <th>dateCreation</th>
          </tr>
        </thead>
        }
        @for (accessoire of accessoires; track accessoire.idAccessoire; let index = $index; let nbr = $count; let first = $first; let last = $last) {
        <tbody>
          <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ accessoire.idAccessoire }}</td>
            <td>{{ accessoire.nomAccessoire }}</td>
            <td>{{ accessoire.prixAccessoire }}</td>
            <td>{{ accessoire.dateCreation | date: 'dd/MM/yyyy' }}</td>
            <td><a class="btn btn-danger" (click)="supprimerAccessoire(accessoire)">Supprimer</a></td>
            <td><a class="btn btn-success" [routerLink]="['/update-accessoire', accessoire.idAccessoire]">Modifier</a></td>
          </tr>
        </tbody>
        @if (last) {
          <h1>Nombre : {{ nbr }}</h1>
        }
        }
        @empty {
        <h1>Aucun accessoire trouvé</h1>
        }
      </table>
    </div>
  </div>
</div>
